<div class="container header fixed-top">
    <div class="row">
        <div class="col-xs-12">
            <div class="app-name">
                Bible Study App
            </div>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a routerLink="/home">Home</a></li>
                <li role="presentation"><a routerLink="/oldtestament">Old Testament</a></li>
                <li role="presentation"><a routerLink="/newtestament">New Testament</a></li>
            </ul>
        </div>
    </div>
</div>